img {
    float: left;
    position: absolute;
    top: 580px;
    left: 50px;
}

div {
    font-size: 3pc;
    text-align: center;
    margin-top: 15pc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    font-size: 90%;
    margin-top: 7.5pc;
    text-align: center;
}

.coordonnées {
    font-size: 40%;
    margin-top: 19pc;
    text-align: center;
}

.coordonnées_ex {
    font-size: 100%;
    margin-top:2pc;
    text-align: center;
}

.coordonnées2 {
    font-size: 100%;
    text-align: center;
    margin-top: auto;
}

.coordonnées3 {
    font-size: 100%;
    text-align: center;
    margin-top: 2pc;
}

.nos_horaires {
    margin-top: -230px;
    font-size: 100%;
    position: absolute;
    right: 100px;
}

.icons_twitter {
    position: relative;
    top: -270px;
    left: -650px;
}

.icons_instagram {
    position: relative;
    top: -270px;
    left: -80px

}

.icons_facebook {
    position: relative;
    top: -272px;
    right: -160;
}
